# Ignore virtual environment
.venv/
env/
venv/

# Ignore database
db.sqlite3
__pycache__/

# Ignore static and media files (only if not needed)
staticfiles/
media/

# Ignore VS Code settings
.vscode/
